page-about {
  ion-card {
    ion-card-header {
      text-align: center;
    }

    border: 3px solid #fff;
    
    color: color($colors, light) !important;
    ion-item {
      color: color($colors, light) !important;
    }
  }

  .company-name {
    font-weight: bold;
  }
}
