<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="logo-title">
      <button ion-button clear color="light" class="help" (click)="openAbout()">
        <ion-icon name="help-circle"></ion-icon>
      </button>
      
      <div class="logo"></div>
      <div class="logo-text">Perełki</div>

      <div class="favorite-jokes">
        <button ion-button small color="yellow" (click)="goBack()">Wszystkie</button>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner color="yellow" name="dots" *ngIf="!allJokes" class="loading-spinner"></ion-spinner>

  <ion-list class="jokes-sorter" *ngIf="allJokes" no-lines>
    <ion-item class="searchbar-item">
      <ion-searchbar
        placeholder="Znajdź słowo"
        [(ngModel)]="searchPhrase"
        (ionInput)="onSearch($event)">
      </ion-searchbar>
    </ion-item>
  </ion-list>

  <jokes *ngIf="allJokes" [jokes]="jokes" (jokeSelect)="openJoke($event)"></jokes>

  <paginator [items]="allJokes" [pageSize]="10" (paginate)="setJokes($event)" *ngIf="allJokes"></paginator>
</ion-content>