page-joke-detail {
  .joke-date {
    display: block;
    text-align: right;
  }

  .joke-content {
    color: color($colors, light);
    line-height: 3rem;
    font-size: 1.8rem;
    overflow: hidden;
  }
}
