<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center *ngIf="!isFavorite">
        <button ion-button icon-left block color="primary" (click)="addFavorite()">
          <ion-icon name="star"></ion-icon>
          <div>Dodaj do ulubionych</div>
        </button>
      </ion-col>

      <ion-col text-center *ngIf="isFavorite">
        <button ion-button icon-left block color="danger" (click)="removeFavorite()">
          <ion-icon name="star"></ion-icon>
          <div>Usuń z ulubionych</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card class="joke-card">
    <ion-card-content class="joke-content">
      <ion-note class="joke-date">
        {{ joke.date|date:'dd.MM.yyyy' }}
      </ion-note>
      <div [innerHTML]="joke.contentHTML"></div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small color="light">
          <ion-icon name="thumbs-up" color="yellow"></ion-icon>
          <div>{{ joke.rate }}</div>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button icon-right clear small color="light">
          <div>{{ joke.authorName }}</div>
          <ion-icon name="contact" color="yellow"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>