jokes {
  .jokes-list {
    .jokes-list__item {
      height: 200px;
      width: 100%;

      .joke-card {
        height: 100%;
      }

      .joke-date {
        display: block;
        text-align: right;
      }

      .joke-content {
        color: color($colors, light);
        line-height: 2.6rem;
        font-size: 1.6rem;
        max-height: 145px;
        overflow: hidden;

        span {
          color: color($colors, yellow);
        }
      }
    }
  }
}
