<ion-list class="jokes-list">
  <div class="jokes-list__item" *ngFor="let joke of jokes" (click)="jokeClick(joke)" #tappable>
    <ion-card class="joke-card">
      <ion-card-content class="joke-content">
        <ion-note class="joke-date">
          {{ joke.date|date:'dd.MM.yyyy' }}
        </ion-note>
        <div [innerHTML]="joke.contentHTML"></div>
      </ion-card-content>
      
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small color="light">
            <ion-icon name="thumbs-up" color="yellow"></ion-icon>
            <div>{{ joke.rate }}</div>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="yellow">
            Czytaj więcej
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-list>