page-joke-list {
  .loading-spinner {
    display: block;
    margin: 0 auto;
  }

  .sort-jokes {
    margin: 0 10px 10px 10px !important;
  }

  .jokes-list {
    .jokes-list__item {
      width: 100%;

      .joke-content {
        color: color($colors, light);
        line-height: 2.6rem;
        font-size: 1.6rem;
        max-height: 200px;
        overflow: hidden;
      }
    }
  }
}
