<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="logo-title">
      <button ion-button clear color="light" class="help" (click)="openAbout()">
        <ion-icon name="help-circle"></ion-icon>
      </button>
      
      <div class="logo"></div>
      <div class="logo-text">Perełki</div>

      <div class="favorite-jokes" *ngIf="hasFavorites">
        <button ion-button small color="yellow" (click)="openFavorites()">Ulubione</button>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner color="yellow" name="dots" *ngIf="!allJokes" class="loading-spinner"></ion-spinner>

  <ion-list class="jokes-sorter" *ngIf="allJokes" no-lines>
    <ion-item class="searchbar-item">
      <ion-searchbar
        placeholder="Znajdź słowo"
        [(ngModel)]="searchPhrase"
        (ionInput)="onSearch($event)">
      </ion-searchbar>
    </ion-item>
    <ion-item class="sorter-item">
      <ion-label>
        <ion-select
          [(ngModel)]="sortBy"
          interface="action-sheet"
          cancelText="Anuluj"
          (ionChange)="sortByChange()">
          <ion-option *ngFor="let sortOption of sortByOptions" [value]="sortOption.id">
            {{ sortOption.title }}
          </ion-option>
        </ion-select>
      </ion-label>
    </ion-item>
  </ion-list>

  <paginator [items]="allJokes" [pageSize]="10" (paginate)="setJokes($event)" [(currentPage)]="currentPage" *ngIf="allJokes"></paginator>
  <jokes *ngIf="allJokes" [jokes]="jokes" (jokeSelect)="openJoke($event)"></jokes>
  <paginator [items]="allJokes" [pageSize]="10" (paginate)="setJokes($event)" [(currentPage)]="currentPage" *ngIf="allJokes"></paginator>
</ion-content>