<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="logo-title">
      <button ion-button clear color="light" class="help" (click)="openAbout()">
        <ion-icon name="help-circle"></ion-icon>
      </button>
      
      <div class="logo"></div>
      <div class="logo-text">Perełki</div>

      <div class="favorite-jokes" *ngIf="hasFavorites">
        <button ion-button small color="yellow" (click)="openFavorites()">Ulubione</button>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-select
    [(ngModel)]="sortBy"
    interface="action-sheet"
    cancelText="Anuluj"
    (ionChange)="sortByChange()">
    <ion-option *ngFor="let sortOption of sortByOptions" [value]="sortOption.id">
      {{ sortOption.title }}
    </ion-option>
  </ion-select>

  <ion-spinner color="yellow" name="dots" *ngIf="!allJokes" class="loading-spinner"></ion-spinner>

  <div class="jokes-wrapper">
    <ion-list class="jokes-list">
      <div class="jokes-list__item" *ngFor="let joke of jokes" (click)="openJoke(joke)" #tappable>
        <ion-card class="joke-card">
          <ion-card-content class="joke-content">
            <ion-note class="joke-date">
              {{ joke.date|date:'dd.MM.yyyy' }}
            </ion-note>
            <div [innerHTML]="joke.contentHTML | words: 50:'<span> ...</span>'"></div>
          </ion-card-content>
          
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small color="light">
                <ion-icon name="thumbs-up" color="yellow"></ion-icon>
                <div>{{ joke.rate }}</div>
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button icon-right clear small color="light">
                <div>{{ joke.authorName }}</div>
                <ion-icon name="contact" color="yellow"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-list>
  </div>

  <paginator [items]="allJokes" [pageSize]="20" (paginate)="setJokes($event)" *ngIf="allJokes"></paginator>
</ion-content>